<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Tests: Jenkins and AWS Test Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.tests.BasicTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
